<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer Doc</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="header__nav">
            <img src="/images/logo-mercado-liebre.svg" alt="logo" class="header__img-logo">

            <section class="header__sec-buscar-productos">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="header__sec-buscar-productos__btn-buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
            </section>

            <section class="header__sec-compra-en-cuotas">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #03264C;"></i>
                <p class="header__sec-compra-en-cuotas__descripcion">Comprá en cuotas y sin tarjeta de crédito</p>
            </section>

            <section>
                <ul class="header__sec-lista-opciones__ul">
                    <li><a href="#" class="header__sec-lista-opciones__ul__li__link">Ofertas </a></li>
                    <li><a href="#" class="header__sec-lista-opciones__ul__li__link">Tiendas Oficiales </a></li>
                    <li><a href="#" class="header__sec-lista-opciones__ul__li__link">Vender </a></li>
                    <li><a href="#" class="header__sec-lista-opciones__ul__li__link">Ayuda </a></li>      
                </ul>
            </section>

            <section>
                <ul class="header__sec-lista-opciones__ul">
                    <li><a href="#" class="header__sec-lista-opciones__ul__li__link">Creá tu cuenta </a><i class="fa-regular  fa-address-card" style="color: #03264C;"></i></li>
                    <li><a href="#" class="header__sec-lista-opciones__ul__li__link">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket" style="color: #03264C;"></i></li>
                    <li><a href="#" class="header__sec-lista-opciones__ul__li__link">Mis compras </a><i class="fa-solid fa-basket-shopping" style="color: #03264C;"></i></li>
                </ul> 
            </section>

            <div class="burger-menu">
                <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
            </div>
        </nav>
    </header>
    <main class="main">
        <section>
            <h3>
                Basado en tu última visita
            </h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="reducida">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="reducida">
                <p>$230.000</p>
                <p>20% off</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="reducida">
                <p>$70.500</p>
                <p>10% off</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="reducida">
                <p>$23.200</p>
                <p>5% off</p>
                <h5>Samsung 43"</h5>
            </article>
        </section>
        <section>
            <h3>
                Sección de Ofertas
            </h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="reducida">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="reducida">
                <p>$230.000</p>
                <p>20% off</p>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="reducida">
                <p>$70.500</p>
                <p>10% off</p>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="reducida">
                <p>$23.200</p>
                <p>5% off</p>
                <h5>Samsung 43"</h5>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__sec">
            <div class="footer__icon">
                <i class="fa-solid fa-credit-card fa-xl" style="color: #1259c3;"></i>
            </div>
            <h3 class="footer__sec__titular">Pagá con tarjeta o en efectivo</h3>
            <p class="footer__sec__p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="footer__sec">
            <div class="footer__icon">
                <i class="fa-solid fa-gift fa-xl" style="color: #1259c3;"></i>
            </div>
            <h3 class="footer__sec__titular">Envío gratis desde $ 2.500</h3>
            <p class="footer__sec__p">por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="footer__sec">
            <div class="footer__icon">
                <i class="fa-solid fa-user-shield fa-xl" style="color: #1259c3;"></i>
            </div>
            <h3 class="footer__sec__titular">Seguridad, de principio a fin</h3>
            <p class="footer__sec__p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>

        <section class="footer__sec">
            <p class="footer__sec__p__copy-right">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>