<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
            <div class="header__top-bar" role="banner">
                <a href="/" class="top-bar__sec-logo-serch__register">
                    <img 
                        src="/images/logo-mercado-liebre.svg" 
                        alt="logo" 
                        class="top-bar__img-logo"
                    >
                </a>
            </div>
    </header>

    <main class="main_register">
        <h4 class="main__sec-name"> Crea tu cuenta </h4>
        <form action="#" method="post" class="main__form">
            <input 
                type="text" name="nombreApellido" 
                pattern="[A-Za-z]{2,}" 
                title="Este campo debe contener mas de 2 letras" 
                placeholder="Nombre y Apellido"
                class="form__input form__input-text" 
                required
            >

            <input 
                type="text" 
                name="nombreUsuario" 
                pattern="[A-Za-z]{2,}" 
                title="Este campo debe contener mas de 2 letras" 
                placeholder="Nombre de Usuario" 
                class="form__input form__input-text" 
                required
            >

            <input 
                type="email" 
                name="Email" 
                placeholder="ejemplo@email.com" 
                class="form__input form__input-text" 
                required
            >

            <div>
                <label class="form__label"> Ingrese su fecha de nacimiento</label>
                <input 
                    type="date" 
                    name="fechaNacimiento" 
                    min="1924-01-01" max="2020-12-31" 
                    class="form__input" 
                    required
                >
            </div>

            <input 
                type="text" 
                name="domicilio" 
                placeholder="Domicilio"
                class="form__input form__input-text"  
                required
            >

            <hr class="form_sep">

            <div>
                <label class="form__label">Perfil de Usuario:</label>
                <input 
                    type="radio" 
                    name="perfil" 
                    value="comprador"
                    class="form__input__option"
                    required
                >
                <label for="comprador">Comprador</label>
                <input 
                    type="radio" 
                    name="perfil" 
                    value="vendedor"
                    class="form__input__option" 
                    required
                >
                <label for="vendedor">Vendedor</label>
            </div>

            <hr class="form_sep">

            <div>
                <label class="form__label">Interes:</label>
                <input 
                    type="checkbox" 
                    name="categoriaInteres" 
                    value="electro"
                    class="form__input__option"  
                    required
                >
                <label for="electro">Electro</label>
                <input 
                    type="checkbox" 
                    name="categoriaInteres" 
                    value="moda" 
                    class="form__input__option" 
                    required
                >
                <label for="moda">Moda</label>
                <input 
                    type="checkbox" 
                    name="categoriaInteres" 
                    value="hogar" 
                    class="form__input__option" 
                    required
                >
                <label for="hogar">Hogar</label>
                <input 
                    type="checkbox" 
                    name="categoriaInteres" 
                    value="jugueteria"
                    class="form__input__option"  
                    required
                >
                <label for="jugueteria">Juguetería</label>
                <input 
                    type="checkbox" 
                    name="categoriaInteres" 
                    value="vidaSana" 
                    class="form__input__option" 
                    required
                >
                <label for="vidaSana">Vida sana</label>
            </div>

            <hr class="form_sep">

            <div>
                <label class="form__label">Cargar Imagen de Usuario (jpg, png):</label>
                <input 
                    type="file" 
                    name="imagen" 
                    accept=".jpg, .png"
                    class="form__input__option form__input__option-load-file"  
                    required
                >
            </div>

            <hr class="form_sep">

            <div>
                <label class="form__label"> Ingrese su contraseña</label>
                <input 
                    type="password" 
                    name="password" 
                    class="form__input__option form__input-text"
                    required
                >
                <label class="form__label"> Confirmar contraseña</label>
                <input 
                    type="password" 
                    name="password" 
                    class="form__input__option form__input-text"
                    required
                >
            </div>

            <hr class="form_sep">

            <button type="submit" class="form__btn">Enviar</button>

        </form>

    </main>

</body>
</html>