:root {
    --AMARILLO: #EAC926;
    --AZUL: #03264C;
    --CELESTE: #1259c3;
    --GRIS-OSCURO: #666;
    --GRIS-CLARO: #ebebeb;
    VERDE: #39b54a;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 12px;
}

/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

/* HEADER */
.header__nav {
    background-color: var(--AMARILLO);
    width: 100%; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__img-logo {
    width: 100px; 
    height: auto; /* para mantener la proporción original de la imagen */
    margin-left: 15px;
}

/* HEADER Seccion Buscar Productos */
.header__sec-buscar-productos {
    margin-top: 15px;
    margin-left: 15px;
}

.header__sec-buscar-productos__btn-buscar {
    display: block;
}

/* HEADER Seccion compra en cuotas */
.header__sec-compra-en-cuotas {
    text-align: center;
}

.header__sec-compra-en-cuotas__descripcion {
    display: inline-block;
    color: var(--AZUL);
}

/* HEADER Seccion lista opciones */
.header__sec-lista-opciones__ul {
    list-style-type: none;
    padding-left: 0px;
}

.header__sec-lista-opciones__ul__li__link {
    text-decoration: none;
    color: var(--AZUL);
}

/* HEADER Seccion lista opciones */
.burger-menu{
    background-color: var(--CELESTE);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}


/* Main Card product */
.main {
    background-color: var(--GRIS-CLARO);
}
.reducida {
    width: 150px;
}


/* FOOTER Seccion*/
.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__sec {
    text-align: center;
    margin-top: 20px;
}

.footer__sec__titular {
    color: var(--GRIS-OSCURO);
    font-size: 16px;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.footer__sec__p {
    color: var(--GRIS-OSCURO);
    margin-block-start: 0%;
    margin-block-end: 0%;
    width: 70%;
    margin: auto;
}

.footer__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: auto;
    font-size: 2em;

}

.footer__sec__p__copy-right {
    text-align: start;
    color: var(--GRIS-OSCURO);
    margin-block-start: 0%;
    margin-block-end: 0%;
}