:root {
    --AMARILLO: #EAC926;
    --AZUL: #03264C;
    --CELESTE: #1259c3;
    --GRIS-OSCURO: #666;
    --GRIS-CLARO: #ebebeb;
    --VERDE: #39b54a;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

/* HEADER */
.header {
    background-color: var(--AMARILLO);
    width: 100%; 
    padding-top: 20px;
    padding-bottom: 20px;
}

/* HEADER Barra superior */
.top-bar__sec-logo-serch {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.top-bar__img-logo {
    width: 50%; 
    padding: 5px;
}

.top-bar__sec-buscar-productos {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

.top-bar__sec-buscar-productos__input {
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 80%;
    padding: 5px;
}

.top-bar__sec-buscar-productos__btn-buscar {
    background-color: white;
    border-style: none;
    border-left: 1px solid var(--GRIS-OSCURO);
    color: var(--GRIS-OSCURO);
    padding: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 20%
}

.top-bar__sec-compra-en-cuotas {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}



/* HEADER nav bar Seccion lista opciones */
.header__navbar {
    display: none;
}

.header__sec-lista-opciones {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.header__sec-lista-opciones__li {
    padding: 5px 0px;
    margin: 5px ;
}

.header__sec-lista-opciones__link {
    text-decoration: none;
    color: var(--AZUL);
}


.header__burger-menu{
    background-color: var(--CELESTE);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

/* Banner  */
.home-banner__img {
    width: 100vw;
}


/* Main Card product */
.main {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: var(--GRIS-CLARO);
    padding: 10px 0;
}

.main__sec{
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.main__sec-name {
    width: 90%;
    margin: auto;
    color: var(--GRIS-OSCURO);
    font-size: 24px;
}

.main__card-product__conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main__card-product {
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
}

.main__card-product__img {
    width: 100%;
}

.main__card-product__info-conteiner {
    border-top: 1px solid var(--GRIS-CLARO);
    width: 100%;
    position: relative;
    padding-top: 20px;
}

.main__card-product__icon-container {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid var(--VERDE);
    border-radius: 50%;
    padding: 3px;
    justify-content: center;
    align-items: center;
    color: var(--VERDE);
    position: absolute;
    right: 20px;
    top: -15px;
}

.main__card-product__precio {
    font-size: 18px;
    margin: 0;
    display: inline-block;
    min-width: 29%;
}

.main__card-product__descuento {
    font-size: 16px;
    color: var(--VERDE);
    margin: 0;
    display: inline-block;
    min-width: 69%;
}

.main__card-product__descripcion {
    margin-top: 20px;
    margin-bottom: 0px;
    color: var(--GRIS-OSCURO);
    font-size: 16px;
    display: none;
}

/* FOOTER Seccion*/
.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__sec {
    text-align: center;
    margin-top: 20px;
}

.footer__sec__titular {
    color: var(--GRIS-OSCURO);
    font-size: 16px;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.footer__sec__p {
    color: var(--GRIS-OSCURO);
    margin-block-start: 0%;
    margin-block-end: 0%;
    width: 70%;
    margin: auto;
}

.footer__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: auto;
    font-size: 2em;

}

.footer__sec__p__copy-right {
    text-align: start;
    color: var(--GRIS-OSCURO);
    margin-block-start: 0%;
    margin-block-end: 0%;
}


/* Register */
.main_register {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    background-color: var(--GRIS-CLARO);
    padding: 10px;
    border-radius: 10px;
}

.main__form { 
    width: 90%;
    margin: auto;
}

.form__input {
    display: block;
    margin: 10px 0;
}
.form__input-text {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.form__label {
    display: block;
    margin: 10px 0;
    color: var(--GRIS-OSCURO);
    font-size: 14px;
}

.form__input__option {
    margin-left: 0px;
}
.form__input__option-load-file {
    width: 100%;
}

.form__btn {
    background-color: var(--VERDE);
    color: var(--GRIS-CLARO);
    display: inline-block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.form_sep {
    margin: 10px 0;
}

/* MEDIAS QUERYS */

/* Tablet */
@media (min-width: 360px) {
    .header__top-bar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .top-bar__sec-logo-serch {
        width: 60%;   
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .top-bar__sec-compra-en-cuotas{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin-bottom: 0px;
    }


    .main__card-product__descripcion {
        display: block;
    }

    .main__card-product {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }
    
}

/* BreackPoint entre Tablet y Desktop */
@media (min-width: 600px) {
    .header {
        padding-bottom: 5px;
    }
    .header__burger-menu {
        display: none;
    }
    .header__navbar {
        display: flex;
        justify-content: space-between;
    }
}

/* Desktop */
@media (min-width: 768px) {
    .main__card-product {
        width: 22.5%;
    }
}

